.ads-left{
  width: 16% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-around !important;
  margin-left:40px  !important;
}

.advertise{
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  min-height: 250px !important;
  margin: 15px 15px 0 0 !important;
  background-color: rgb(84, 74, 74) !important;
}

.advertise
h3{
  color:white  !important;
}