.profile-container{
  height: 20px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.profile-container
img{
  width: 40px !important;
  height: 40px !important;
  margin-right: 15px !important;
  border-radius: 50px !important;
}

.user-data{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: 'Quantico', sans-serif !important;
  color: #fff !important;
}

.user-data
h2{
  font-size: 18px !important;
  margin-right: 15px;
}

.user-data
p{
  font-size: 12px !important;
}