
@import url('https://fonts.googleapis.com/css2?family=Quantico&family=Sawarabi+Mincho&display=swap');

.property{
  width: 100% !important;
  height: 350px !important;
  display: flex !important;
  margin-top: 15px !important;
  margin-right: 85px !important;
  background-color: rgb(84, 74, 74) !important;
  border-radius: 10px !important;
}

.property-img{
  width: 30% !important;
  height: 350px !important;
  background-color: #293dafb4 !important;
  border-radius: 10px 0 0 10px !important;
  padding: 75px !important;
}

.description-container{
  width: 66% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  margin-left: 18px !important;
  font-family: 'Sawarabi Mincho', serif !important;
  color: #FFF !important;

}

.location-price-container{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-family: 'Quantico', sans-serif !important;
  font-weight: bold !important;
  margin: 17px 0 19px 0 !important;
}

.location{
  font-size: 23px !important;
  letter-spacing: 2px !important;
}

.location
img{
  width: 20px !important;
  height: 20px !important;
  margin-right: 15px !important;
}

.price{
  font-size: 30px !important;
  letter-spacing: 2.5px !important;
}

.type-maintenace-container{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  letter-spacing: 2px !important;
}

.prop-type{
  font-size: 14px !important;
  font-weight: 300 !important;
  margin-bottom: 21px !important;
}

.maintenace-fees{
  margin-right:50px  !important;
  font-weight:300  !important;
  margin-top: -22px !important;
}

.rooms{
  display: flex !important;
  flex-direction: row !important;
  margin-bottom: 40px !important;
}

.room{
  display: flex !important;
  align-items: center !important;
  margin-right: 38px !important;
}

.room
img{
  width: 25px !important;
  height: 25px !important;
  margin-right: 10px !important;
}

.description-title{
  margin-bottom: 10px !important;
}

.description{
  max-width: 60% !important;
  height: 50px !important;
  margin:0 30px 10px 0 !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.property-buttons-container{
  display: flex !important;
  margin: 0 0 17px 8px !important;
  align-content: flex-end !important;
  justify-content: space-between !important;
}

.buttons-right{
  width: 200px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-right: 60px !important;
}