@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.banner-container{
  width: 100%;
  height: 192px;
  display: flex;
  background-color: #084979;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 11px 15px -12px rgba(0,0,0,0.4);
}

.buttons-search-container{
  display: flex;
  width: 450px;
  flex-direction: column;
  margin-right: 30px;
}

.buttons-container{
  width: 450px;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

.property-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.properties{
  width: 78%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
